body{
    display: flex;
    justify-content: center;
}
.div {
    display: flex;
    justify-content: center;
    
}

img {
    width: 300px;
    height: 300px;
    margin-right: 80px;
}

.choose {
    color: white;
    background-color: green;
    width: 90px;
    height: 45px;
    border-radius: 10%;
    position: absolute;
    top: 21px;
    right: 400px;
    margin-left: 60px;
    cursor: pointer;
    
}

.alphabet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 600px;
    margin-top: 80px;
}
.word{
    
    display: flex;;
    position: absolute;
    right: 500px;
}
.word .win{
    color: green;
}
.word .lost {
    color: red;
}
.letter{
    margin: 5px;
}

.alphabet > .blue {
    background-color: #E1ECF4;
    color: #5986AE;
    border: 0.5px solid #5986AE;
}

.alphabet > button {
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    width: 30px;
    height: 30px;
    margin: 8px;
    flex-wrap: nowrap;
    background-color: #9FAAB5;
    color: #798089;
    border: 2px solid #798089;
    border-radius: 3px;
    cursor: pointer;
}

.try-it{
    width: 680px;
    margin-left: 100px;
    margin-top: 50px;
}
input {
    width: 130px;
    height: 20px;
    border: 2px solid gray ;
    border-radius: 3px;
    margin-left: 30px;
}
.try {
    background-color: #E0EAF2;
    color: #6C8599;
    width: 60px;
    height: 30px;
    margin-left: 30px;
}